/* Reset some default styles */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Create a responsive container with margin and padding */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Add a little more spacing to elements within the container */
.container > * {
  margin-bottom: 20px;
}

/* Apply a slight border radius to all elements */
.container,
.container > * {
  border-radius: 8px;
}



/* Style headings */
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #333;
}

h1 {
  font-size: 36px;
  margin: 10px 0;
}

h2 {
  font-size: 32px;
  margin: 10px 0;
}

h3 {
  font-size: 24px;
  margin: 10px 0;
}
